
<router-outlet></router-outlet>

<!-- <div class="example-container">
  <div class="row">
      <div class="col-sm-12">
          <span>First Name</span>
          <i class="req">*</i>
          <br>
          <mat-form-field appearance="fill">
              <mat-label>Enter your First Name</mat-label>
              <input matInput name="firstName" [(ngModel)]="firstName" >
          </mat-form-field>
      </div>
      <div class="col-sm-12">
          <span>Email</span>
          <br>
          <mat-form-field appearance="fill">
              <mat-label>Enter your Email</mat-label>
              <input matInput name="email" [(ngModel)]="email">
              
          </mat-form-field>
      </div>
      <div class="col-sm-12">
          <span>Gender</span>
          <br>
          <mat-radio-group aria-label="Select an option" name="gender" [(ngModel)]="gender">
              <mat-radio-button *ngFor="let value of values" [value]="value">{{value}} &nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
          </mat-radio-group>
      </div><br/>
      <!-- <div class="col-sm-12">
          <span>Programming Languages</span><br>
          <mat-list-item *ngFor="let item of checkbox_list" >
              <mat-checkbox [(ngModel)]="lang" [value]="item.value">{{ item.name }}</mat-checkbox>
            </mat-list-item>
      </div> -->
      <!-- <div class="col-sm-12">
              <button mat-flat-button color="primary" (click)="submit()">Submit</button>
      </div><br/><br/>
      <div class="col-sm-12">
          <span>{{this.message}}</span>
  </div><br/><br/>
  </div>
  
</div>
<app-child [Name]="sendName" [Email]="sendEmail" [Gender]="sendGen" (getResponse)="getResponse($event)"></app-child>  -->